<header>
  <img src="https://codetheweb.blog/assets/img/icon2.png">
  <nav>
    <span>
    <a routerLink="/home">All-Inclusive </a>
  
  </span>
  <span>
    <ul>
      <li>
        <a routerLink="/events">Events</a>
      </li>
      <li>
        <a routerLink="/reservation">Reservation</a>
      </li>
      <li>
        <a routerLink="/myaccount">My Account</a>
      </li>
      <li>
        <a routerLink="/blog">Blog</a>
      </li>
      <li>
        <a routerLink="/contact">Contact Us</a>
      </li>
      
    </ul>
  </span>
  
  </nav>
</header>
 
<!-- <app-home></app-home> -->
<router-outlet ></router-outlet> 
 <div id="components"><router-outlet ></router-outlet></div>
<!-- <h1 id="title">WELCOME TO ALL INCLUSIVE</h1> -->
<!-- <app-blog></app-blog> -->
<div>
  <h3>join as :</h3>
  <button class="btn" (click)="handleLoginCompanyButton('login-company')"><i >Company</i></button>
  <h3>join as :</h3>
  <button class="btn" (click)="handleLoginButton('login-customer')"><i>Customer</i></button>
</div> 
<div id="components"><router-outlet ></router-outlet></div>
 
 


