
/*navbar*/
body{
  background-image: url("https://www.iwantwallpaper.co.uk/images/sirpi-floral-leaf-pattern-wallpaper-metallic-glitter-heavy-weight-20590-p3723-9033_image.jpg");

}
header img {
  height: 80px;
  margin-left: 300px;
}

header {

  background-color:rgb(255, 228, 196);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 85px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
  z-index: 10;
}

header * {
  display: inline;
}

header li {
  margin: 50px;
}

header li a {
  color: brown;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  font-family: cursive;
}

.nav{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
};

#aboutUs{
  margin-left: 200px;
}
.contactLogo{
height: 50px;
}
.fbLogo{
height:50px;
}
.gmailLogo{
    height: 50px;
}