<h1>this is the comapny page</h1>

<p>Type</p>
<i id="icon" class="material-icons prefix">mode_edit</i>
<input
  type="text"
  id="type"
  class="form-control"
  placeholder="type"
  required=""
  autofocus=""
  [(ngModel)]="type"
  required
/>
<p>Name</p>
<i id="icon" class="material-icons prefix">person</i>
<input
  type="name"
  id="name"
  class="form-control"
  placeholder="name"
  required=""
  autofocus=""
  [(ngModel)]="name"
  required
/>
<p>Email</p>
<i id="icon" class="material-icons prefix">email</i>
<input
  type="emailcompany"
  id="emailcompany"
  class="form-control"
  placeholder="emailcompany"
  required=""
  [(ngModel)]="emailCompany"
  required
/>
<p>passWord</p>
<i id="icon" class="material-icons prefix">vpn_key</i>
<input
  type="password"
  id="passwordCompnay"
  class="form-control"
  placeholder="passwordCompany"
  required=""
  [(ngModel)]="passwordCompany"
  required
/>
<p>PhoneNumber</p>
<i id="icon" class="material-icons prefix">phone</i>
<input
  type="phoneNumberCompany"
  id="phoneNumberCompany"
  class="form-control"
  placeholder="phoneNumberCompany"
  required=""
  [(ngModel)]="phoneNumberCompany"
  required
/>
<p>Adress</p>
<i id="icon" class="material-icons prefix">insert_comment</i>
<input
  type="address"
  id="address"
  class="form-control"
  placeholder="address"
  required=""
  [(ngModel)]="adress"
  required
/>
<p>ImgUrl</p>
<i id="icon" class="material-icons prefix">image</i>
<input
  type="text"
  id="imgUrlCompany"
  class="form-control"
  placeholder="imgUrlCompany"
  required=""
  [(ngModel)]="imgUrlCompany"
  required
/>
<br />
<br />
<button class="btn" type="submit" (click)="onSubmit('login-company')">
  Submit
</button>
