<p>login as customer :</p>
<div>
<p>email</p>
<i id="icon" class="material-icons prefix" >email</i>
<input
  type="text"
  id="type"
  class="form-control"
  placeholder="enter your email"
/>
<p>password</p>
<i id="icon" class="material-icons prefix">vpn_key</i>
<input
  type="password"
  id="name"
  class="form-control"
  placeholder="enter your password"
/>
<br />
<br />
<button class="btn" type="submit" (click)="handleCustomerButton('event-customer')">Login</button>
<br />
<br />
<button class="btn" type="submit" (click)="handleCreateAccountButton('customer')">Create new account</button>
