<div class="login">

<br/>
<br/>
<div>
<br/>
<br/>
<p class="e">Email</p>
<i id="icon" class="material-icons prefix" > email</i>
<input
  type="text"
  id="type"
  class="form-control"
  placeholder="enter your email"
/>
<br/>
<br/>
<br/>
<br/>
<p class="p">Password</p>
<i id="icon" class="material-icons prefix">vpn_key</i>
<input
  type="password"
  id="name"
  class="form-control"
  placeholder="enter your password"
/>
<br />
<br />
<br />
<br />


<button class="btn" type="submit" (click)="handleCustomerButton('event-customer')">Login</button>

<br />
<br />
<br />
<br />
<button id="h" class="btn" type="submit" (click)="handleCreateAccountButton('customer')">Register</button>
 </div>
