.btn {
    background-color: orange;
    width: 100px;
    height: 40px;
    border-radius: 250px;
    background-color: rgb(243, 214, 141);
    border-color: rgb(192, 119, 70);
    outline: none;
    margin-left: 85px
  }
  input{
          width: 200px;
          height: 30px;
  }
  p {
    font-style: italic;
    font-weight: bold;
  }