<p>login as customer :</p>
<div>
  <p>email</p>
  <input type="email" id="email" class="form-control" placeholder="email" required="" [(ngModel)]="email" required />
  <p>password</p>
  <input type="password" id="password" class="form-control" placeholder="password" required="" [(ngModel)]="password"
    required />
  <button class="btn" type="submit" (click)="checkLoginCustomer('event-customer')">Login
  </button>
  <br>
  <br>
  <p>if not register ?</p>
  <button class="btn" type="submit" (click)="handleCreateAccountButton('customer')">
    Create new account
  </button>
</div>