<div>
    <div class="about">
      <h1>About Us...</h1>
      <p>
        Welcome to our website 
        We are students of <a href="https://www.rebootkamp.net/?gclid=Cj0KCQiAhZT9BRDmARIsAN2E-J2I-1S693ssuY4OSoIDK66gdb1NtTFyBa1FwFSVPqvv3YsbkAsKwnIaAn7GEALw_wcB">RBK </a> a coding schools for young developpers
        This website is  a project associated with the RBK program 
        the main idea of it is, if you want to make a party and invite people you know where to post your event and the users will be able to participate in your event and make reservation in order  to know exactly who is coming to his party.
        Team behind this website : 
      
        Basma Ben Nasr 
        Nahedh Ben Abbes
        Omar Chaouachi
        Ali Smaoui
        Otham Gueddana
      </p>
      <!-- <button className="btn">
        Read More<i className="fas fa-book-open"></i>
      </button> -->
    </div>
  </div>
