<div>
    <div class="about">
      <h1>About Us...</h1>
      <p>
        Welcome to our website 
        We are students of RBK (add anchor that links to rbk website ) a coding schools for young developpers
        This website is  a project associated with the RBK program 
        the main idea of it is if you want to make a party and invite people you know where to post yur event and the users will be able to participate in your event and make reservation in order for to know exactly who is coming to his party
        Team behind this website :
        basma our emails here in anchors or facebook links
      </p>
      <!-- <button className="btn">
        Read More<i className="fas fa-book-open"></i>
      </button> -->
    </div>
  </div>
