<div class="container">
  <header id="main-header">
    <div class="row no-gutters">
      <!-- <div class="col-lg-4 col-md-5">
        <img src="../../../assets/b.png" alt="" />
        <img src="../../../assets/a.png" alt="" />
        <img src="../../../assets/h.png" alt="" />
        <img src="../../../assets/m.png" alt="" />
      </div> -->
      <div class="col-lg-8 col-md-7">
        <div class="d-flex flex-column">
          <div class="p-5 bg-dark text-white">
            <div
              class="d-flex flex-row justify-content-between align-items-center"
            >
              <h1 class="display-4">students</h1>
              
            </div>
          </div>

          <div class="p-4 bg-black">FullStack developer</div>

          <div>
            <div
              class="d-flex flex-row text-white align-items-stretch text-center"
            >
              <button
                style="border-width: 0px"
                class="port-item p-4 bg-primary"
                (click)="homeModeOn()"
              >
                <i class="fa fa-home fa-2x d-block"></i>
                <span class="d-none d-sm-block">Home</span>
              </button>
              <button
                style="border-width: 0px"
                class="port-item p-4 bg-success"
                (click)="resumeModeOn()"
              >
                <i class="fa fa-graduation-cap fa-2x d-block"></i>
                <span class="d-none d-sm-block">Resume</span>
              </button>
              <button
                style="border-width: 0px"
                class="port-item p-4 bg-warning"
                (click)="workModeOn()"
              >
                <i class="fa fa-folder-open fa-2x d-block"></i>
                <span class="d-none d-sm-block">Work</span>
              </button>
              <button
                style="border-width: 0px"
                class="port-item p-4 bg-danger"
                (click)="contactModeOn()"
              >
                <i class="fa fa-envelope fa-2x d-block"></i>
                <span class="d-none d-sm-block">Contact</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div *ngIf="homeOn">
    <div class="card card-body bg-primary text-white py-5">
      <br/><br/><br/><br/>
      <h2 style="color: brown; font-weight: bold;font-size: 25px;font-family: cursive;">Welcome To Our Page</h2>
      <br/>
      <p class="lead" style="padding-left: 400px; font-family:cursive; font-size: large; 
      padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;">
        We are students of
        <a
          target="_blank" href="https://www.rebootkamp.net/?gclid=Cj0KCQiAhZT9BRDmARIsAN2E-J2I-1S693ssuY4OSoIDK66gdb1NtTFyBa1FwFSVPqvv3YsbkAsKwnIaAn7GEALw_wcB"
          >RBK,
        </a>
        a coding schools for young developpers.<br/><br/><br/>
        This website is a project associated with the RBK program.<br/><br/><br/>
        The main idea of it, is if you want to make a party and invite<br/><br/><br/>
        people you know where to post your even and the users will be able <br/><br/>
        to participate in your event and make reservation in order to know <br/><br/><br/>
        exactly who is coming to his party. <br/><br/><br/>
        Team behind this website : <br/><br/><br/>
        Basma Ben Nasr<br/><br/><br/>
        Nahedh Ben Abbes<br/><br/><br/>
        Omar Chaouachi <br/><br/><br/>
        Ali Smaoui<br/><br/><br/>
        Othman Gueddana
      </p>
    </div>
  </div>

  <div *ngIf="resumeOn">
    <div class="card card-body bg-success text-white py-5" ><br/><br/><br/>
      <h2 style="color: brown; font-weight: bold;font-size: 25px;font-family: cursive;">Our Resume</h2><br/><br/><br/>
      <p class="lead" style="padding-left: 400px; font-family:cursive; font-size: large; 
      padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;">Students</p>
    </div>

    <div class="card card-body py-5">
      <h3 style="padding-left: 400px; font-family:cursive; font-size: large; 
      padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;" >Where Have We Worked?</h3>
      <p style="padding-left: 400px; font-family:cursive; font-size: large; 
      padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;">Here you can see our previous work experience</p>
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title" style="padding-left: 400px; font-family:cursive; font-size: large; 
            padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;">FINA</h4>
            <p class="card-text" style="padding-left: 400px; font-family:cursive; font-size: large; 
            padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;">
              We have worked on several projects, both backend and frontend.
            </p>
            <p class="p-2 mb-3 bg-dark text-white" style="padding-left: 400px; font-family:cursive; font-size: large; 
            padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;">
              Position: Full Stack Developer
            </p>
            <p class="p-2 mb-3 bg-dark text-white" style="padding-left: 400px; font-family:cursive; font-size: large; 
            padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;">Phone: 20019207</p>
          </div>
          <div class="card-footer">
            <h6 class="text-muted" style="padding-left: 400px; font-family:cursive; font-size: large; 
            padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;">Dates: 2020 Present</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="workOn">
    <div class="card card-body bg-warning text-white py-5"><br/><br/><br/>
      <h2 style="color: brown; font-weight: bold;font-size: 25px;font-family: cursive;">Our Work experience</h2><br/><br/><br/>
      <p class="lead" style="padding-left: 400px; font-family:cursive; font-size: large; 
      padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;">
        Here you can see with what We have been working recently.
      </p>
      <h3 style="padding-left: 400px; font-family:cursive; font-size: large; 
      padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;">Backend</h3>
      <p style="padding-left: 400px; font-family:cursive; font-size: large; 
      padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;">
        .NET - experience gained through different projects (personal and work)
      </p>
      <p style="padding-left: 400px; font-family:cursive; font-size: large; 
      padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;">Java EE - experience gained through small projects (college)</p>

      <h3 style="padding-left: 400px; font-family:cursive; font-size: large; 
      padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;">Frontend</h3>
      <p style="padding-left: 400px; font-family:cursive; font-size: large; 
      padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;">(personal and work)</p>
      <p style="padding-left: 400px; font-family:cursive; font-size: large; 
      padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;">
        HTML, CSS, Jquery, Javascript,Angular,React, Bootstrap - experience
        gained through different projects (personal and work)
      </p>
    </div>
  </div>

  <div *ngIf="contactOn">
    <div class="card card-body bg-danger text-white py-5"><br/><br/><br/>
      <h2 style="color: brown; font-weight: bold;font-size: 25px;font-family: cursive;" >Contact</h2><br/><br/><br/>
      <h4 style="padding-left: 400px; font-family:cursive; font-size: large; 
      padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;">Phone</h4>
      <p class="lead" style="padding-left: 400px; font-family:cursive; font-size: large; 
      padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;">099 513 21 73</p>
      <h4 style="padding-left: 400px; font-family:cursive; font-size: large; 
      padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;">E-mail</h4>
      <p class="lead" style="padding-left: 400px; font-family:cursive; font-size: large; 
      padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;">naaa@gmail.com</p>
    </div>
    <div class="card card-body py-5" style="padding-left: 400px; font-family:cursive; font-size: large; 
    padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;"><br/><br/><br/>
      <h3 style="padding-left: 400px; font-family:cursive; font-size: large; 
      padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;">Get In Touch</h3>
      <p style="padding-left: 400px; font-family:cursive; font-size: large; 
      padding-right:90px; letter-spacing: 3px;text-align: justify ; color: black;">Feel free to contact me anytime.</p>
    </div>
  </div>
</div>
