 <!-- <div>
    <h1>rating stars</h1>
    <div class="rating"> 
         <input id="b" class="fa fa-star-o" type="radio" name="star" id="star1" ><label for="star1"></label>
        <input class="fa fa-star-o" type="radio" name="star" id="star2"><label for="star2"></label>
        <input class="fa fa-star-o" type="radio" name="star" id="star3"><label for="star3"></label>
        <input class="fa fa-star-o" type="radio" name="star" id="star4"><label for="star4"></label>
        <input class="fa fa-star-o" type="radio" name="star" id="star5"><label for="star5"></label> 
   
   </div>
<div class="feed-list-item">
    <h1 class="h1" >Your feedback is extremely important to us.</h1>
    <h2 class="h2"> Telling us about your experience, and your suggestions</h2> 
   <p>message : {{customers.message}} </p>

 <textarea [(ngModel)]="comment"></textarea>
<br/>
<br/>
<button (click)="post()">Comment</button>
<hr>
<div *ngFor="let comments of postComment">
    <p>{{comments}}</p>
    
  
</div>
<div *ngFor="let time of times">
    <p>{{time}} </p>

</div>
</div>
</div> 

<!-- <div class="feed-list-item" *ngFor="let customer of customers">
    <h1 >name : {{customer.name}}</h1>
    <p>message : {{customer.message}} </p> </div>--> 
