<div>
   
<div class="feed-list-item">
    <h1 class="h1" >Your feedback is extremely important to us.</h1>
    <h2 class="h2"> Telling us about your experience, and your suggestions</h2>
    <!-- <p>message : {{customer.message}} </p> -->

<textarea [(ngModel)]="comment"></textarea>
<br/>
<br/>
<button (click)="post()">Comment</button>
<hr>
<div *ngFor="let comments of postComment">
    <p>{{comments}}</p>
</div>
</div></div>

<!-- <div class="feed-list-item" *ngFor="let customer of customers">
    <h1 >name : {{customer.name}}</h1>
    <p>message : {{customer.message}} </p> </div>-->
