<h3>Reservation page</h3>
<div>
<p class="p">number of persons:</p>
<input
  type="text"
  id="number"
  class="form-control"
  placeholder="enter your number"
/>
<br/>
<p class="pa">
    <label>
      <input name="group1" type="radio" />
      <span>VIP</span>
    </label>
  </p>
  <br/>
<p class="p">date:</p>
<input
  type="date"
  id="date"
  class="form-control"
/>
<br/>
<br/>
<p class="p">way to pay:</p>
<form action="#">
    <p class="pa">
      <label>
        <input name="group1" type="radio" />
        <span>credit card</span>
      </label>
    </p>
    <p class="pa">
      <label>
        <input class="with-gap" name="group1" type="radio"  />
        <span>Bank check</span>
      </label>
    </p>
    <p class="pa">
      <label>
        <input name="group1" type="radio" disabled="radio" />
        <span>cash</span>
      </label>
    </p>
  </form>
  <br/>
  <br/>
  <button class="btn">add reservation</button>
</div>