<br /><br /><br /><br />
<div>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit(loginForm.value, 'eventmakeraccount')"
  >
    <div class="mb-3">
      <label for="email" class="form-label"> Email </label>
      <input
        id="emailCompany"
        type="email"
        name="emailCompany"
        class="form-control"
        formControlName="emailCompany"
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label"> Password </label>
      <input
        id="passwordCompnay"
        type="password"
        name="passwordCompnay"
        class="form-control"
        formControlName="passwordCompany"
      />
    </div>

    <button id="m" class="btn" type="submit">Login</button>
    <button
      id="m"
      class="btn"
      type="submit"
      (click)="handleCreateAccountButton('company')"
    >
      Create new account
    </button>
  </form>
</div>
