<p>login-company works!</p>
<div>
  <input
    type="text"
    id="LoginFormEmail"
    class="form-control mb-4"
    placeholder="E-mail"
    required
    [(ngModel)]="emailCompany"
    name="emailCompany"
  />

  <!-- Password -->
  <input
    type="text"
    id="LoginFormPassword"
    class="form-control mb-4"
    placeholder="Password"
    required
    [(ngModel)]="passwordCompany"
    name="passwordCompany"
  />

  <button class="btn btn-info btn-block my-4" (click)="save()" type="submit">
    Sign in
  </button>

  <button
    class="btn"
    type="submit"
    (click)="handleCreateAccountButton('company')"
  >
    Create new account
  </button>
</div>
