<br /><br /><br /><br />
<div class="login">
  <br/> 
  <br/>
  <br/>
  <br/>

  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit(loginForm.value, 'eventmakeraccount')"
  >
    <div class="mb-3">
      <label for="email" class="l"> Email </label>
      <input
        id="emailCompany"
        type="email"
        name="emailCompany"
        class="form-control"
        formControlName="emailCompany"
      />
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="mb-3">
      <label for="password" class="s"> Password </label>
      <input
        id="passwordCompnay"
        type="password"
        name="passwordCompnay"
        class="form-control"
        formControlName="passwordCompany"
      />
    </div>
    <br/>
    <br/>
    <br/>
    <button id="m" class="btn" type="submit">Login</button>
    <button
      id="m"
      class="btn"
      type="submit"
      (click)="handleCreateAccountButton('company')"
    >
      Create new account
    </button>
  </form>

</div>
