
.add {
  margin-bottom: 400px;
  margin-right: 100px;
}

#events-container{
  font-size: 25px;
}

table, th, td {
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
  height: auto;
  border-spacing: 1px;

}

  td {
  height: 50px;
  text-align: center;
}

th {
  background-color: #8B4513;
  color: black;
}

table {
  border-spacing: 0.5rem;
}
