
.add {
  margin-bottom: 400px;
  margin-right: 100px;
}

#events-container{
  font-size: 25px;
}
.btn{
  background-color: rgba(206, 143, 143, 0.377);
    border-color: rgba(49, 7, 7, 0.753);
    outline: none;
    height: 33px;
    font-size: 20px;
    color: white;
    font-family: cursive;
    border-radius:15px 50px 30px;
    width: 180px;
    font-weight: bold;
    margin-top: 200px;
}

table, th, td {
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
  height: auto;
  border-spacing: 1px;
}

  td {
  height: 50px;
  text-align: center;
}

th {
  background-color: #8B4513;
  color: black;
}


