
<br />
<br />
<br />
<br />
<br />
<div> 
<table>
    <th id="type-col">Event Type</th>
    <th>Event Name</th>
    <th>Event Description</th>
    <th>Event Date</th>
    <th>Event Place</th>
    <th>Event Price</th>
    <th>Event video</th>
  <tbody>
    <tr *ngFor="let item of products; let i = index" id="events-container">
      <td>{{item.Etype}}</td>
      <td>{{item.Ename}}</td>
      <td>{{item.Edescription}}</td>
      <td>{{item.Edate}}</td>
      <td>{{item.Eplace}}</td>
      <td>{{item.Eprice}}</td>
      <td> <iframe width="400" height="300"  controls [src]='safeUrl[i]'
          allowfullscreen></iframe></td>
          <td> <iframe [src]="safeurlvideo[i]" width="400" height="300" frameborder="0" style="border: 0" allowfullscreen=""
            aria-hidden="false" tabindex="0">
          </iframe></td>
    </tr>
  </tbody>
</table>
</div>



</div><br/> 
</div>
