<!-- <br />
<br />
<br />
<br />
<br />
<div>
  <table>
    <th id="type-col">Event Type</th>
    <th>Event Name</th>
    <th>Event Description</th>
    <th>Event Date</th>
    <th>Event Place</th>
    <th>Event Price</th>
    <th>Event video</th>
    <tbody>
      <tr *ngFor="let item of products; let i = index" id="events-container">
        <td>{{ item.Etype }}</td>
        <td>{{ item.Ename }}</td>
        <td>{{ item.Edescription }}</td>
        <td>{{ item.Edate }}</td>
        <td>{{ item.Eplace }}</td>
        <td>{{ item.Eprice }}</td>
        <td>
          <iframe
            width="400"
            height="300"
            controls
            [src]="safeUrl[i]"
            allowfullscreen
          ></iframe>
        </td>
        <td>
          <iframe
            [src]="safeurlvideo[i]"
            width="400"
            height="300"
            frameborder="0"
            style="border: 0"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          >
          </iframe>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <button
      class="btn"
      type="submit"
      (click)="handleReservationButton('reservation')"
    >
      Reservation
    </button>
  </div>
</div> -->



<div *ngFor="let item of products; let i = index" id="events-container">
  <br />
  <br />
  <br />
  <br />
  <br />
  <div id="title-events">  
  <p><strong>Event Type :</strong>{{ item.Etype }}</p>
  <p><strong>Event Name :</strong>{{ item.Ename }}</p>
  <p><strong>Event Description :</strong>{{ item.Edescription }}</p>
  <p><strong>Event Date :</strong>{{ item.Edate }}</p>
  <p><strong>Event Place :</strong>{{ item.Eplace }}</p>
  <p><strong>Event Price :</strong>{{ item.Eprice }}</p>
  </div>
  <div>
    <iframe width="750" height="350" controls [src]="safeUrl[i]" allowfullscreen></iframe>
  </div>
  <br/>
  <div>
    <iframe [src]="safeurlvideo[i]" width="750" height="350" frameborder="0" style="border: 0" allowfullscreen=""
      aria-hidden="false" tabindex="0">
    </iframe>
  </div>
  <br/>
</div>
<button class="btn" type="submit" (click)="handleReservationButton('reservation')">
  Reservation
</button>