<div id="eventProfile">
  <h1>Post your events here</h1>
  <br />
  <p>Name:</p>
  <p>Email adress:</p>
  <p>Phone number:</p>
  <br />
  <h3>Add an event</h3>
  <div>
    <p>Event Type</p>
    <input type="text" placeholder="Event Type" required/>
    <p>Event Name</p>
    <input type="text" placeholder="Event Name" required/>
    <p>Event description</p>
    <input type="text" placeholder="write descrption" required/>
    <p>Event date</p>
    <input type="datetime-local" placeholder="Event Date" required/>
    <p>Location</p>
    <input type="text" placeholder="Location" required/>
    <p>Price per Person</p>
    <input type="number" value="500" min="10" step="1" data-number-to-fixed="2" data-number-stepfactor="100" placeholder="Price per person" required/>
    <p>put your video src here</p>
    <div>
      <input #video type="text" placeholder="video source" required/>
      <button class="btn" (click)="add(video.value)">
        add event related video
      </button>
    </div>
    <div class="showVideo"></div>
    <br />
    <button class="btn">Add</button>
  </div>
</div>
