<div class="sign">
  <br/>
<br/>
<br/>

<h1 class="title">Sign Up As a Customer</h1>
<br/>
<br/>

<p>Type</p>
<i id="icon" class="material-icons prefix">mode_edit</i>
<input
  type="text"
  id="type"
  class="form-control"
  placeholder="type"
  required=""
  autofocus=""
  [(ngModel)]="type"
  required
/>
<p>firstName</p>
<i id="icon" class="material-icons prefix">person</i>
<input
  type="name"
  id="name"
  class="form-control"
  placeholder="name"
  required=""
  autofocus=""
  [(ngModel)]="firstName"
  required
/>
<p>lastName</p>
<i id="icon" class="material-icons prefix">person</i>
<input
  type="lastName"
  id="lasttName"
  class="form-control"
  placeholder="lastName"
  required=""
  [(ngModel)]="lastName"
  required
/>
<p>email</p>
<i id="icon" class="material-icons prefix">email</i>
<input
  type="email"
  id="email"
  class="form-control"
  placeholder="email"
  required=""
  [(ngModel)]="email"
  required
/>
<p>passWord</p>
<i id="icon" class="material-icons prefix">vpn_key</i>
<input
  type="passWord"
  id="passWord"
  class="form-control"
  placeholder="passWord"
  required=""
  [(ngModel)]="passWord"
  required
/>
<p>phoneNumber</p>
<i id="icon" class="material-icons prefix">phone</i>
<input
  type="phoneNumber"
  id="phoneNumber"
  class="form-control"
  placeholder="phoneNumber"
  required=""
  [(ngModel)]="phoneNumber"
  required
/>
<p>specialNeed</p>
<i id="icon" class="material-icons prefix">insert_comment</i>
<input
  type="specialNeed"
  id="specialNeed"
  class="form-control"
  placeholder="specialNeed"
  required=""
  [(ngModel)]="specialNeed"
  required
/>
<p>imgUrl</p>
<i id="icon" class="material-icons prefix">image</i>
<input
  type="text"
  id="imgUrl"
  class="form-control"
  placeholder="imgUrl"
  required=""
  [(ngModel)]="imgUrl"
  required
/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<button class="btn" type="submit" (click)="onSubmit('login-customer')">
  Signup
</button>
</div>